  </body>
  	<!-- <nav class="navbar navbar-default navbar-fixed-bottom"> -->
  		<!-- <div class="container bottom">
    		
	        <span>Lauren Grant &copy 2015</span>
	    		
			  
  		</div> -->
		<!-- </nav> -->
</html>