<% include ./partials/header %>	
   
  <div class="container-fluid">
	  <div class="row">
	  	<div class="about col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-s-offset-2 col-xs-8 col-xs-offset-2">
	  		<h3>ABOUT</h3>
			  <img id="lg_pic" src="/images/photo2.1.jpg">
			  
		  	<h4>My name is Lauren Grant and I'm a<br>
		  	<span id="create">creative problem solver,</span><br>
		  	<span id="web">aspiring web developer,</span><br>
		  	<span id="music">and loud music listener</span><br>
				living in Austin, Texas.</h4>
		  </div>
		  <div class="row">
		  	<div class="about col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-s-offset-2 col-xs-8 col-xs-offset-2">
			  	<ul id="smedia">
				  	<li><a href="https://www.linkedin.com/in/thelaurengrant">LINKEDIN &nbsp;</a></li>
				  	<li>|</li>
				  	<li><a href="https://github.com/dangerlauren">&nbsp; GITHUB &nbsp;</a></li>
				  	<li>|</li>
				  	<li><a href="https://instagram.com/dangerlauren/">&nbsp; INSTAGRAM</a></li>
			  	</ul>
		  	</div>
		  </div>
	  </div>
	</div>

<% include ./partials/footer %>