<% include ./partials/header %>	

	<div id="main_image">
  	<div class="container">
  		<h1 class="hello">Hello there, I'm Lauren.</h1>
	  </div>
	</div>

	<div class="container-fluid">
	  <div class="row">
	  	<div class="about col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-s-offset-2 col-xs-8 col-xs-offset-2">
	  		<a name="about"></a>
	  		<h3>ABOUT</h3>
			  <img id="lg_pic" src="/images/photo2.1.jpg">
			  
		  	<h4>My name is Lauren Grant and I'm a<br>
		  	<span id="create">creative problem solver,</span><br>
		  	<span id="web">aspiring web developer,</span><br>
		  	<span id="music">and loud music listener</span><br>
				living in Austin, Texas.<br><br>
				Contact me: thelaurengrant [at] gmail [dot] com</h4>
		  </div>
		  <div class="row">
		  	<div class="about col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-s-offset-2 col-xs-8 col-xs-offset-2">
			  	<ul id="smedia">
				  	<li><a href="https://www.linkedin.com/in/thelaurengrant">LINKEDIN &nbsp;</a>|</li>
				  	
				  	<li><a href="https://github.com/dangerlauren">&nbsp; GITHUB &nbsp;</a>|</li>
				  	
				  	<li><a href="https://instagram.com/dangerlauren/">&nbsp; INSTAGRAM</a></li>
			  	</ul>
		  	</div>
		  </div>
	  </div>
	</div>

	<div class="container-fluid">
	  <div class="row projects">
	  	<div class="about col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-s-offset-2 col-xs-8 col-xs-offset-2">
	  		<a name="projects"></a>
    		<h3>PROJECTS MADE AT GENERAL ASSEMBLY</h3>
    	</div>
    </div>		
    
    <div class="row projects">
    	<div class="about col-lg-4 col-md-4 col-sm-6 col-xs-12">
    		<div>
	    	<img class="pimg" src="/images/college.png">
	    	</div>
	    	<div>
	    	<div class="ptitle">College Tracker</div><br>
	    	<div class="pdesc" id="desclast">For this group project we had one week to build an app using Ruby on Rails. College Tracker helps students who are applying for college keep checklists for each application. I helped to set up the user authentication with Sorcery, style the site with HTML5 and CSS3, and set up the database with PostgreSQL.<br>
	    	<a href="https://dry-tundra-9497.herokuapp.com/">SEE THE APP IN ACTION</a>
	    	</div>
	    	</div>
	    </div>

	    <div class="about col-lg-4 col-md-4 col-sm-6 col-xs-12">	
	    	<div>
	    	<img class="pimg" src="/images/duck.png">
	    	</div>
	    	<div>
	    	<div class="ptitle">What the Duck</div><br>
	    	<div class="pdesc">What the Duck is an application that allows users to make a visual list of birds they have sighted. We used the MEAN stack to achieve our goals and went further by incorporating the Google Maps API. I contributed to styling the user interface with HTML5 and CSS3. I also set up the email and password authentication using Validator.<br>
	    	COMING SOON</div>
	    	</div>
	    </div>
	    
	    <div class="about col-lg-4 col-md-4 col-sm-6 col-xs-12">	
	    	<div>
	    	<img class="pimg" src="/images/pizza.png">
	    	</div>
	    	<div>
	    	<div class="ptitle">3 Person Pizza Club</div><br>
	    	<div class="pdesc">This Ruby on Rails site was my final project for the Web Development Immersive class. The site is a place for pizza lovers to get recommendations on the best pies in Austin. I worked on all aspects of the site and continue to add features to the site such as search bar and sorting functionality. It is still a work in progress!<br>
	    	<a href="https://guarded-badlands-9552.herokuapp.com/">SEE THE APP IN ACTION</a>
	    	</div>
	    	</div>
	    </div>			
    </div>
	</div>

<% include ./partials/footer %>	


