<% include ./partials/header %>	
  <div class="container-fluid">
	  <div class="row">
	  	<div class="about col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-s-offset-2 col-xs-8 col-xs-offset-2">
    		<h3>PROJECTS</h3>
    	</div>
    </div>		
    
    <div class="row projects">
    	<div class="about col-lg-4 col-md-4 col-sm-6 col-xs-12">
	    	<div>
	    	<img class="pimg" src="/images/duck.png">
	    	</div>
	    	<div>
	    	<div class="ptitle">What the Duck</div><br>
	    	<div class="pdesc">What the Duck is an application that allows users to make a visual list of birds they have sighted. We used the MEAN stack to achieve our goals and went further by incorporating the Google Maps API. I contributed to styling the user interface with HTML5 and CSS3. I also set up the email and password authentication using Validator.</div>
	    	</div>
	    </div>
	    
	    <div class="about col-lg-4 col-md-4 col-sm-6 col-xs-12">	
	    	<div>
	    	<img class="pimg" src="http://placehold.it/200x200">
	    	</div>
	    	<div>
	    	<div class="ptitle">WhaleSpeak</div><br>
	    	<div class="pdesc">Given one day to learn a new technology with a partner, we built WhaleSpeak using Ionic. This app allows a user to enter some text they would like translated from English to Whale.</div>
	    	</div>
	    </div>
	    
	    <div class="about col-lg-4 col-md-4 col-sm-6 col-xs-12">	
	    	<div>
	    	<img class="pimg" src="/images/college.png">
	    	</div>
	    	<div>
	    	<div class="ptitle">College Tracker</div><br>
	    	<div class="pdesc" id="desclast">For this group project we had one week to build an app using Ruby on Rails. College Tracker helps students who are applying for college keep checklists for each application. I helped to set up the user authentication with Sorcery, style the site with HTML5 and CSS3, and set up the database with PostgreSQL.<br>
	    	<a href="https://dry-tundra-9497.herokuapp.com/">SEE THE APP IN ACTION</a>
	    	</div>
	    	</div>
	    </div>			
    </div>
    		<!-- <h4>Coming soon</h4> -->
	</div>
    
<% include ./partials/footer %>		