body {
  
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font-family: 'Karla', sans-serif;
}

.font {
	font-family: 'Karla', sans-serif;
}

a {
  color: #00B7FF;
}

#logo {
	color: #660099;
	font-family: 'Sofia', cursive;
}

.hover:hover {
	background: #6699FF;
}

.navbar-default {
	margin-bottom: 0;
}

#main_image {
	background: url(/images/jumbotron.jpg) center no-repeat;
	height: 630px;
	background-size: cover;
	margin-top: 0;
  	
}

h1 {
	text-align: center;
}

.hello {
	font-family: 'Sofia', cursive;
	padding-top: 150px;
	color: white;
	font-size: 4em;
}

/* ABOUT */

.about {
	text-align: center;
	font-family: 'Karla', sans-serif;
	padding-top: 50px;
	padding-bottom: 70px;
}

#lg_pic {
  width: 200px; 
  height:200px;
  border-radius:50%;
  margin:25px;
}

#lg_pic img {
  border-radius:50%;
  transition: transform 0.5s ease;
  transform: scale(0.8);
}

#lg_pic img:hover {
  transform: scale(.9);
} 

#smedia {
	list-style: none;
	display: inline;
	text-align: center;
	padding-right: 25px;
}

#smedia li {
	color: black;
	list-style: none;
	display: inline;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

/* PROJECTS */

.projects {
	text-align: center;
	background-color: #cccccc;
}

.ptitle {
	font-size: 1.5em;
	margin-top: 20px;
}

.pdesc {
	margin: 0px 40px 0px 40px;
}

#desclast {
	margin-bottom: 30px;
}

.pimg {
	width: 200px; 
  height:200px;
}

/* NAVBAR BOTTOM */

.bottom { 
	line-height: 40px;
	/*padding-bottom: 70px; */
	text-align: center;
	/*position: relative;*/
	display: inline-block;
	margin-left: 40px;
}

.bottom a {
	display: block;
	text-align: center;
	padding-left: 50px;
	margin-left: 150px;

}
